.home {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px white dashed;
  height:100vh;
}

h1 {
  text-align: center;
}

.division:before {
  content:'\00F7'
}

.division::after {
  content:'\00F7'
}

.math-name {
  font-size: 1.75rem;
}

.stats-button{
  border:1px white solid;
  border-radius: 3px;
  margin-top: 5rem;
  padding: .5rem .5rem;
  background-color: black;
  color:white;
  font-family: 'Gaegu', sans-serif;
  font-size: 1rem;
}

.stats-button:active {
  background-color: rgba(25, 25, 25, 1);
}

.stats-button:hover {
  cursor: pointer;
}
