.practice-nums-page{
  display:flex;
  flex-direction: column;
  height:100vh;
}

.practice-num-container {
  display:flex;
  flex-direction: column;
  width: 25rem;
  justify-content: center;
  /* border:1px white dotted; */
  height:100%;

}

.practice-num-home-button {
  width: 7rem;
  border: 1px white solid;
  align-self: end;
  text-align: center;
  margin: 1rem 1rem;
  padding: .2rem 0;
  font-weight: 600;
}

.practice-num-home-button:hover {
  cursor: pointer;
}

.practice-num-home-button:active, .practice-num-enter:active {
  background-color: rgba(25, 25, 25, 1);
}

.practice-nums {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  padding: .5em .5em;
  grid-template-areas:
    "header header header header"
    "all all all all"
    ". . . ."
    ". . . ."
    ". . . ."
    "enter enter enter enter";

}

.practice-num-heading {
  grid-area:header;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.practice-num-all {
  grid-area: all;
}

.practice-num-enter {
  grid-area: enter;
}


.practice-num-all, .practice-num-enter {
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 3px;
  height: 4.5rem;
  font-size: 3rem;

}

.practice-num-num {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  font-size: 3rem;
  height: 4.5rem;
  width: 4.5rem;
  border:1px solid white;
  justify-self:center;
  align-self:center;
  border-radius: 3px;

}

.practice-num-all:hover, .practice-num-num:hover, .practice-num-enter:hover {
  cursor: pointer;
}

.clicked {
  background-color: rgba(25, 25, 25, 1);
}

/* Really small screens */
@media (max-width:402px) {
  .practice-num-container {
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-self: flex-start;
    /* border:1px white dotted; */
  }

  .practice-num-all, .practice-num-enter {
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 3px;
    height: 3.5rem;
    font-size: 3rem;

  }

  .practice-num-num {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    font-size: 3rem;
    height: 3.5rem;
    width: 3.5rem;
    border:1px solid white;
    justify-self:center;
    align-self:center;
    border-radius: 3px;

  }
}
