.quizzing-main{
  display:flex;
  flex-direction: column;
  height:100vh;
  }

 .quizzing {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:25rem;
  /* border:1px white dashed; */
  height:100%;
}

.nav-buttons{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width:100%;
}

.quizzing-back{
  width: 7rem;
  border: 1px white solid;
  text-align: center;
  margin: 1rem 1rem;
  padding: .2rem 0;
  font-weight: 600;
}

.quizzing-home {
  width: 7rem;
  border: 1px white solid;
  text-align: center;
  margin: 1rem 1rem;
  padding: .2rem 0;
  font-weight: 600;
}

.quizzing-back:hover, .quizzing-home:hover {
  cursor: pointer;
}

.quizzing-back:active, .quizzing-home:active {
  background-color: rgba(25,25,25,1)
}

.question {
  font-size: 3rem;
  text-align:center;
}

.keypad {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-row:repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  padding: .5rem .5em;
  grid-template-areas:
    "question question question"
    ". . ."
    ". . ."
    ". . . "
    ". backspace enter"
}

.num {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  font-size: 3rem;
  height: 4.5rem;
  width: 4.5rem;
  border:1px solid white;
  justify-self:center;
  align-self:center;
  border-radius: 3px;
}


.enter {
  grid-area: enter;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 800)));
  height: 4.5rem;
  width: 4.5rem;
  border:1px solid white;
  justify-self:center;
  align-self:center;
  background-color: black;
  color:white;
  font-family:'Gaegu', sans-serif;
}

.backspace {
  grid-area: backspace;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 800)));
  height: 4.5rem;
  width: 4.5rem;
  border:1px solid white;
  justify-self:center;
  align-self:center;
}

.num:active, .enter:active {
  background-color: rgba(25, 25, 25, 1);
}

@media (max-width:352px){

}
