/* Stats Category Page */
.stats-choose-cat-container, .stats-choose-level-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-choose-cat-container>h1, .stats-choose-level-container>h1{
  text-decoration: underline;
}

.stats-level, .stats-category {
  font-size: 1.75rem;
}

.stats-level:hover, .stats-category:hover {
  cursor:pointer;
}

.division:before {
  content:'\00F7'
}

.division::after {
  content:'\00F7'
}

/* Nav Buttons */
.stats-nav-buttons{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width:100%;
}

.stats-back, .stats-home {
  width: 7rem;
  border: 1px white solid;
  text-align: center;
  margin: 1rem .5rem;
  padding: .2rem 0;
  font-weight: 600;
}

.choose-cat-home {
  justify-content:flex-end;
}



/* Actual stats page */
.stats-container {
  align-self: flex-start;
  width:100%;
}

.stats-grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

.stat-fact{
  font-size: 1.5rem;
  text-align: center;
}

.stats-main {
  margin: 0 1rem;
}

.stats-div-symbol::before  {
  content:' \00F7 '
}
